@using P1Models
@model IEnumerable<P1Models.StoreInvenModel>

@{
    ViewData["Title"] = "Add to Cart";
}

<p>
    Product Inventory here.
</p>

<div>
    <table id="storeProducts">
        <tr>
            <th>ProductId</th>
            <th>Make</th>
            <th>Text</th>
            <th>Price</th>
            <th>Quantity Available</th>
            <th>Quantity Bought</th>
        </tr>
        @Html.EditorForModel()
    </table>
    <table>
        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => obj.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => obj.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => obj.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => obj.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => obj.QuanStore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => obj.QuanBuy)
                </td>
            </tr>
        }
    </table>
</div>


<form asp-action="AddToCart1">
    <div class="form-group">
        <input type="submit" value="Add to Cart" class="btn btn-primary" />
    </div>
</form>

<form asp-action="Checkout">
    <div class="form-group">
        <input type="submit" value="Checkout" class="btn btn-primary" />
    </div>
</form>