@model IEnumerable<P1FinalDbContext.Location>

@{
    ViewData["Title"] = "StoreList";
}

<h1>Select a store to shop from using the corresponding buttons</h1>

<div>
    <h4>StoreList</h4>
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StoreId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<table>
    <thead>
        <tr>
            <th>
                <form asp-action="StoreInven1" a>
                    <div class="form-group">
                        <input type="submit" value="TPA" class="btn btn-primary" />
                    </div>
                </form>
            </th>
            <th>
                <form asp-action="StoreInven2" >
                    <div class="form-group">
                        <input type="submit" value="NYC" class="btn btn-primary" />
                    </div>
                </form>
            </th>
            <th>
                <form asp-action="StoreInven3" >
                    <div class="form-group">
                        <input type="submit" value="LA" class="btn btn-primary" />
                    </div>
                </form>
            </th>
            <th>
                <form asp-action="StoreInven4" >
                    <div class="form-group">
                        <input type="submit" value="Portland" class="btn btn-primary" />
                    </div>
                </form>
            </th>
            <th>
                <form asp-action="StoreInven5" >
                    <div class="form-group">
                        <input type="submit" value="DC" class="btn btn-primary" />
                    </div>
                </form>
            </th>
            <th>
                <form asp-action="StoreInven6" >
                    <div class="form-group">
                        <input type="submit" value="Atlanta" class="btn btn-primary" />
                    </div>
                </form>
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


