@using P1Models
@model IEnumerable<P1Models.StoreInvenModel>

@{
    ViewData["Title"] = "StartShopping";
}

<p>
    Product Inventory here.
</p>

<div>
    <table id="storeProducts">
        <tr>
            <th>ProductId</th>
            <th>Make</th>
            <th>Text</th>
            <th>Price</th>
            <th>In Stock</th>
        </tr>

        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => obj.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => obj.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => obj.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => obj.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => obj.QuanStore)
                </td>
                <td>
                    <form>
                        <label for="number">Buy</label>
                        <input type="number" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>


<form asp-action="Checkout">
    <div class="form-group">
        <input type="submit" value="Checkout" class="btn btn-primary" />
    </div>
</form>