@model IEnumerable<P1FinalDbContext.Order>

@{
    ViewData["Title"] = "OrderHistoryCustomer";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StoreId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuanOrder)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuanOrder)
                </td>
            </tr>
        }
    </tbody>
</table>
